button:hover {
    background-color: green;
    color: white;
}

button:active {
    transform: scale(0.98);
}

input:focus {
    border: 2px solid orange;
}

a:visited {
    color: purple;
}

ul li:nth-child(odd) {
    background-color: #f0f0f0;
}

input:enabled:focus {
    background-color: antiquewhite;
    border: 2px solid orange;
}
