body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background: #f4f4f4;
}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 80px auto 60px;
    gap: 20px;
}

.header {
    grid-area: header;
    background: #4caf50;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.sidebar {
    grid-area: sidebar;
    background: #ddd;
    padding: 20px;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px 10px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeIn 1s ease forwards;
}

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgb(197, 198, 197);
    }

.footer {
    grid-area: footer;
    background: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animation {
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
