h2 {
    color: aquamarine;
    background-color: antiquewhite;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url('img_white_flower.jpg');
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

.styled-link {
    text-decoration: none;
    color: white;
    background-color: teal;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

    .styled-link:hover {
        background-color: light green;
    }

.styled-button {
    padding: 10px 20px;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .styled-button:hover {
        background-color: dodgerblue;
    }

    .styled-button:active {
        transform: scale(0.95);
    }

input:focus {
    outline: none;
    border: 2px solid orange;
    padding: 5px;
}
